<%- include('partials/header') %>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/report">Reports</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/news">News <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Logout <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" id="title">
  <h1><%= report.date %></h1>
</div>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Probability</th>
      <td><%= report.daily_probability %></td>
    </tr>
    <tr>
      <th scope="row">Slope</th>
      <td><%= report.slope %></td>
    </tr>
    <tr>
      <th scope="row">Positive Case</th>
      <td><%= report.positive %></td>
    </tr>
    <tr>
      <th scope="row">Recovered</th>
      <td><%= report.recovered %></td>
    </tr>
  </tbody>
</table>

<%- include('partials/footer') %>
